.icon {
    display: block;
    width: 24px;
    height: 24px;
    background-image: url('./images//menu-icon.webp');
    background-size: cover;
    background-position: center;
  
    @include hover(transform, scale(1.2));
  
    @include onTablet {
      width: 32px;
      height: 32px;
    }
  
    &--phone {
      background-image: url('./images/phone-icon.webp');
    }
  
    &--menu {
      background-image: url('./images/menu-icon.webp');
  
      &:hover {
        background-image: url('./images/menu-icon-close.webp');
      }
    }
  
    &--close {
      background-image: url('./images/menu-close.webp');
    }
  }
  