$c-gray: #eee;
$main-bg-color: #1B1212;
$main-text-header: #fff;
$main-text-button: #fff;
$main-text-color:#6C788B;
$main-blue-color:#7f826d;


// $hover-button-color: #e9f0ff;
$pressed-button-color:#787b66;


$ls-min-width: 2560px; //large screen
$lg-min-width: 1600px; //large desktop
$sd-min-width: 1024px; //small desktop
$tablet-min-width: 640px;
$mobile-min-width: 320px;
